
* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    max-width: 100%;

}


/* Loader */

.container-loader {

    position: fixed;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: #f1f1f1;
    opacity: 0.9;
    transition: 3s;
    animation: fond 4s linear;
    visibility: hidden;
}

.loader {

    position: absolute;
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(#9356DC, #FF79DA, #99E2D0);
    animation: animate 4s linear;
    top: 0; left: 0; right: 0; bottom: 0;
    visibility: hidden;

    
}

@keyframes animate {

        0% {
            transform:  rotate(0deg);
            visibility: visible;
            opacity: 0.9;
             }
        70% {
            transform: rotate(360deg);
            opacity: 0.9;
            }
        100% {
            opacity: 0;
            visibility: hidden;
            }

}

@keyframes fond{
         0% {
            visibility: visible;
            opacity: 0.9;
             }
        80% {
            visibility: visible;
            opacity: 0.6;
             }
        100% {
            opacity: 0;
            visibility: hidden;
            }

}

.fas.fa-heart:hover {
    animation: transition 0.3s ease-in 0s forwards;

}

@keyframes transition {
    0% {
        opacity: 0;
        background:linear-gradient(#9356DC, #FF79DA);
        color:transparent;
        background-clip: text;
        -webkit-text-stroke: 0px;
        -webkit-text-stroke-color: black;
    }
    100% {

        opacity: 1;
        background:linear-gradient(#9356DC, #FF79DA);
        background-clip: text;
        color: transparent;
        -webkit-text-stroke: 0px;
        -webkit-text-stroke-color: black;
    }

}


/* Page Web */



header {

    height: 60px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
}


#logo {

    font-family: Shrikhand;
    font-size: 30px;
    display: flex;


}

img {
    max-width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;

}


#ville {
    padding: 10px;
    display: flex;
    justify-content: center;
    column-gap: 1rem;
    background-color: #EFEFEF;

}


#pub {
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6; 
    text-align: center;
    align-items: center;
    align-content: center;
    height: 270px;

}

#pub div {
    font-size: 20px;
    max-width: 70%;
    padding: 20px;
    padding-top: 0;

}

h1 {
    max-width: 70%;
    padding: 20px;
}

#pub button {
    background-image: linear-gradient(#9356DC, #FF79DA);
    border-radius: 20px;
    padding: 10px 0px 10px 0px;
    width: 300px;
    font-size: 20px;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    border: hidden;
    color: white;


}


#search {

    display: flex;
    flex-direction: column;
    margin: 30px;


}



h2 {
    padding: 20px;
    width: 100%;
}

#search button {

    display: flex;
    text-align: left;
    max-width: 90%;
    padding: 15px;
    border-radius: 15px;
    border: hidden;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 20px;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);

}

.icone {
    padding: 0px 20px 0px 20px;
}

.fas.fa-store {
    color: #9356DC;

}

.fas {
    color: grey;

}

.icone-number {
    border-radius: 50%;
    padding: 3px 8px;
    background: #9356DC;
    color: white;
    text-align: center;
    font: 15px Arial, sans-serif;
    margin-left: -25px;
}

#zone-resto {
    background-color: #f6f6f6;
    max-width: 100%;
    padding: 20px;
}


#restaurants {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 250px 250px 250px 250px;
    row-gap: 1rem;
    justify-content: center;
    justify-items: center;
}


.Vue-resto {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #ffffff;
    width: 90%;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
}

.Vue-resto img {
    object-fit: cover;
    height: 175px;
    width: 100%;
}

.Vue-resto h3, .Vue-resto .vue-resto-ville {
    padding :5px 0px 5px 10px;
    color:  black;
    text-decoration: none;


}

.text-resto, .coeur{
    display: inline;

}

a, a:hover, a:active, a:visited {
    text-decoration: none;
}



#resto1 {
    position: relative;
}

#resto2 {
    position: relative;
}

#resto1 .new, #resto2 .new {
    position: absolute;
    float: right;
    right: 20px;
    top: 20px;
    border-radius: 5px;
    background-color: #c0e9c3;
    color: #16b84e;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}


.coeur {
    float: right;
    margin-top: -40px;
    margin-right: 20px;
    font-size: 30px;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: black;
    color:transparent;
    transition: 0.5s; 

}


.fas.fa-heart:hover {
    transition: 0.5s;
    background:linear-gradient(#9356DC, #FF79DA);
    color:transparent;
    -webkit-text-stroke: 0px;
    -webkit-text-stroke-color: black;

}

/* Footer */


footer {

    background-color: #353535;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px 30px 20px 30px;


}

.fas.fa-utensils{
    padding-right: 17px;
}

footer li {
    list-style: none;
    text-decoration: none;
    padding-bottom: 5px;

}

footer i {
    padding-right: 10px;

}

footer a {
    color: white;

}

h4 {
    font-family: Shrikhand;
    padding-bottom: 20px;

}

button:hover {
    transform:scale(1.02);
    cursor:pointer;

}

@media screen and (max-width: 800px) {


/* Page */


header {
    margin: 0;
    max-width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 1);
}


#logo {

    font-family: Shrikhand;
    font-size: 40px;
    display: flex;


}



.icone-number {
    border-radius: 50%;
    padding: 3px 8px;
    background: #9356DC;
    color: white;
    text-align: center;
    font: 15px Arial, sans-serif;
}



#ville {
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: #EAEAEA;
}

}

@media screen and (min-width: 800px){
ul {
        display: flex;
        justify-content: space-around; 
}

#restaurants {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 250px 250px 0px 0px;
}

#search {
    display: flex;
    flex-direction: initial;
    flex-wrap: wrap;
    margin: 30px;
}

#search button {
    max-width: 500px;
}


}