* {
    padding: 0;
    font-family: Roboto;
    max-width: 100%;
    margin: 0px;
}

/* Chargement progressif */

#menu #entree1{
    opacity:0;
    animation: slide-in-bottom 1s ease-in 0.5s forwards;
}

#menu #entree2{
    opacity:0;
    animation: slide-in-bottom 1s ease-in 1.5s forwards;
}

#menu #entree3{
    opacity:0;
    animation: slide-in-bottom 1s ease-in 2.5s forwards;
}

#menu #plat1{
    opacity:0;
    animation: slide-in-bottom 1s ease-in 3s forwards;
}

#menu #plat2{
    opacity:0;
    animation: slide-in-bottom 1s ease-in 3.5s forwards;
}

#menu #plat3{
    opacity:0;
    animation: slide-in-bottom 1s ease-in 4s forwards;
}

#menu #dess1{
    opacity:0;
    animation: slide-in-bottom 1s ease-in 4.5s forwards;
}

#menu #dess2{
    opacity:0;
    animation: slide-in-bottom 1s ease-in 5s forwards;
}

#menu #dess3{
    opacity:0;
    animation: slide-in-bottom 1s ease-in 5.5s forwards;
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* animation menu */

.fas.fa-heart:hover {
    animation: transition 0.3s ease-in 0s forwards;
}

@keyframes transition {
    0% {
        opacity: 0;
        background:-webkit-linear-gradient(#9356DC, #FF79DA);
        background-clip:text;
        -webkit-background-clip:text;
        color:transparent;
        -webkit-text-stroke: 0px;
        -webkit-text-stroke-color: black;
    }
    100% {

        opacity: 1;
        background:-webkit-linear-gradient(#9356DC, #FF79DA);
        background-clip:text;
        -webkit-background-clip:text;
        color:transparent;
        -webkit-text-stroke: 0px;
        -webkit-text-stroke-color: black;
    }
}

/* Page Web */

header #logo{

    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0);
    margin: 0px;
}

.retour {
    float: left;
    margin: 20px;
    margin-right: 0;
    font-size: 20px;
    color:black;
}


#logo {
    font-family: Shrikhand;
    font-size: 35px;
    display: flex;
}

#corpdepage {
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: Shrikhand;
    font-weight: normal;
    font-size: 25px;
    display: flex;
}


img {
    max-width: 100%;
    object-fit: cover;
    z-index: 0;
}

#menu {
    z-index: 20;
    border-radius: 30px 30px 0px 0px;
    background-color: #f6f6f6;
    padding: 10px 30px 0px 20px;
    margin-top: -50px;
    display: flex;
    flex-direction: column;
}

.coeur {
    font-size: 25px;
    background-clip:text;
    -webkit-background-clip:text;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: black;
    color:transparent;
    transition: 0.5s; 
    position: absolute;  
    right: 30px;
    padding: 35px 30px 20px 20px;
}

#menu .coeur {  
    display: flex;
    margin-top: -30px;
}

h2 {
    padding: 10px;
    text-transform: uppercase;
    font-size: 18px;
    padding: 10px;
}

div [class*="underline"] {
    display: inline-block;
    border-bottom: 3px solid #99E2D0;
    padding-bottom: 10px;
    line-height: 70%;
}


h2, .coeur {
    display: inline-block;
}

.repas {
    max-width: 350px;
    height: 50px;
    background-color: #ffffff;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    display: grid;
    grid-template-columns: 50% 40% 10% 0%;
    grid-template-areas: 
    "nom nom prix icone"
    "desc desc prix icone";
}

.nom-plat {
    grid-area: nom;
    font-weight: bold;
}

.desc-plat {
    grid-area: desc;
}

.prix-plat {
    grid-area: prix;
    font-weight: bold;
    grid-column-start: 3;
    grid-row-start: 2;
}

.container-icone {
    translate: 0px;
    display: none;
    margin-right: 0;
    border-radius: 0px 20px 20px 0px;
    width: 100%;
    max-width:100%;
    padding: 0px 20px 0px 0px;
    margin-top: -20px;
    align-items: center;
    align-self: center;
    background-color: #99E2D0;
    grid-area: icone;
}

.repas:hover > .container-icone {
    display:flex;
    translate:0px;
    animation: leftanim 0.7s linear;
}

@keyframes leftanim {
    0% {
        opacity: 0;
        transform: translate(10px);
    }
    100% {
        opacity: 1;
        transform: translate(0px);
    }
}

.fas.fa-check-circle {
    color: #ffffff;
    font-size: 30px;
    padding: 30px;
    display: flex;
    animation: rotate 0.7s linear;
}

@keyframes rotate {
    0% {
        opacity: 0;
        transform: rotate(180deg);
    }
    100% {
        opacity: 1;
        transform: rotate(0deg);
    }
}

.repas:hover > .fas.fa-check-circlecone {
    margin-right: -20px;
    display: flex;
}

.repas:hover {
    grid-template-columns: 50% 20% 10% 20%;
}    

.repas:hover > .desc-plat {
    text-overflow: "...";
    overflow: hidden;
    white-space:nowrap;
    padding-bottom: 20px;
}

/* footer */

footer {

    background-color: #353535;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px 30px 20px 30px;
}

.fas.fa-utensils{
    padding-right: 17px;
}

footer li {
    list-style: none;
    text-decoration: none;
    padding-bottom: 5px;
}

footer i {
    padding-right: 10px;

}

footer a {
    color: white;
}

h4 {
    font-family: Shrikhand;
    padding-bottom: 20px;
}
